header{
    display: flex;
    max-width: 1440px;
    height: 112px;
    padding: 2px 38px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #FAF3DD;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

.img{
    display: flex;          
    justify-content: center;
    max-width: 1440px;
    width: 100%;
}

.chapeau h1{
    color: #4A7C59;
    text-align: center;
    font-family: "Road Rage";
    font-size: 230px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #FAF3DD;
}

.menu-container {
    position: relative;
    margin-right: 3%;
}

.burger {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 70px;
    height: 4px;
    background: #4A7C59;
}

.nav {
    position: fixed;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100%;
    background-color: #FAF3DD;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    color: #284732;
    text-decoration: none;
    text-align: center;
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.menu {
    font-size: 64px;
}

.nav.open {
    left: 0;
}

.nav {
    display: none;
}

.nav.active {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAF3DD;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 24px;
}

.dropdown-content.active {
    display: block;
}

.services {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.slides-container {
    display: flex;
    transition: transform 1s ease;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    flex: 0 0 100%;
}

.slide.active {
    left: 0;
    opacity: 1;
    z-index: 1;
}

.slide.next {
    left: 100%;
    opacity: 1;
    z-index: 0;
}

.slide.prev {
    left: -100%;
    opacity: 1;
    z-index: 0;
}

.content {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: #FAF3DD;
    text-align: left;
    padding: 20px;
    max-width: 40%;
}

.content h2 {
    color: #FAF3DD;
    font-family: Staatliches;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content a{
    text-decoration-line: none;
}

.content a:hover{
    color: #be9d08;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Noto Serif";
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: #FAF3DD;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 10px 20px;
    transition: background 0.3s;
}

.arrow:hover {
    color: #be9d08;
    background: rgba(0, 0, 0, 0);
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.bas{
    width: 100%; 
    height: 1458px;
    background-image: url('images/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adr{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    overflow: hidden;
}

.adresse{
    margin-left: 5%;
    margin-top: 5%;
    max-width: 50%;
}

.adresse h2{
    color: #FAF3DD;
    font-family: Staatliches;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative; 
    top: -40px;
    padding-bottom: 1vw;
}

.adresse p{
    color: #FAF3DD;
    font-family: "Sree Krushnadevaraya";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: relative; 
    top: -50px;
    line-height: 1.3;
}

.maps {       
    justify-content: flex-end;
    max-width: 700px;
    width: 100%;
}

.contact-form {
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.contact-form h2{
    color: #FAF3DD;
    font-family: Staatliches;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.form-row {
    display: flex;
    gap: 70px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
    font-family: "Noto Serif";
}

.form-group label {
    margin-bottom: 5px;
    color: #FAF3DD;
    font-size: 30px;
}

.form-group input, 
.form-group textarea {
    padding: 15px;
    border: 1px solid #165e2c;
    border-radius: 20px;
    font-size: 30px;
    color: #4A7C59;
    background: #FAF3DD;
    font-family: "Noto Serif";
}

textarea {
    min-height: 100px;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    color: #4A7C59;
    margin-left: 1%;
}

.checkbox-group label {
    line-height: 1.2;
}

.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

button {
    background-color: #4A7C59;
    border: 3px solid #FAF3DD;
    color: #FAF3DD;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-family: "Noto Serif";
    font-weight: 400;
    line-height: 180%;
    cursor: pointer;
}

button:hover {
    background-color: #203827;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 85px;
    gap: 20px;
    margin-top: 3vw;
}

#text-links-container {
    display: flex;
    flex-direction: column;
}
  
.text-links {
    color: #4a7c59;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-decoration-line: underline;
}

#icon-links-container {
    display: flex;
    gap: 30px;
}

.ic{
    width: 54px; 
    height: 52px;
}



  @media screen and (max-width:1024px){

    header{
        max-width: 1024px;
    }

    .chapeau h1{
        font-size: 170px;
    }

    .content h2 {
        font-size: 50px;
    }
       
    .content h3 {
        font-size: 1.5rem;
    }
    
    .content p {
        font-size: 1rem;
        line-height: 1.3;
    }

    .adresse h2{
        font-size: 40px;
        padding-bottom: 1vw;
    }
    
    .adresse p{
        font-size: 18px;
        line-height: 1.3;
    }
    
    .container-button {
        font-size: 20px;
        line-height: 160%;
        border-radius: 20px;
        padding: 6px 50px; 
        top: -4vw;
    }

    .maps{
        max-width: 540px;
    }

    .contact-form {
        max-width: 700px; 
        padding: 20px;
        border-radius: 10px;
    }
    
    .contact-form h2{
        font-size: 60px;
    }
    
    .form-row {
        gap: 50px; 
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-group label {
        margin-bottom: 5px;
        font-size: 20px;
    }
    
    .form-group input, 
    .form-group textarea {
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
    }
    
    textarea {
        min-height: 100px;
    }
    
    .form-footer {
        margin-top: 20px;
    }
    
    .checkbox-group {
        gap: 10px;
        font-size: 20px;
        margin-left: 1%;
    }
    
    .checkbox-group label {
        line-height: 1.2;
    }
        
    button {
        padding: 10px 40px;
        font-size: 20px;
        line-height: 160%;
    }

    footer {
        padding: 0 85px;
        gap: 20px;
        margin-top: 5vw;
    }
          
    .text-links {
        font-size: 15px;
        line-height: 160%;
    }
    
    #icon-links-container {
        gap: 25px;
    }

    .bas{
        height: 1050px;
    }
  }

  @media screen and (max-width:768px){

    header{
        max-width: 768px;
    }
   
    .menu {
        font-size: 50px;
    }
        
    .dropdown-content {
        font-size: 20px;
    }

    .chapeau h1{
        font-size: 120px;
    }

    .content {
        max-width: 50%;
    }

    .content h2 {
        font-size: 45px;
    }
       
    .content h3 {
        font-size: 1.2rem;
    }
    
    .content p {
        font-size: 0.9rem;
        line-height: 1.2;
    }

    .adresse {
        margin-top: 7%;
    }

    .adresse h2{
        font-size: 30px;
    }
    
    .adresse p{
        font-size: 16px;
        line-height: 1.2;
    }
    
    .container-button {
        font-size: 16px;
        line-height: 150%;
        border-radius: 20px;
        padding: 6px 25px; 
        margin-top: -8vw;
    }

    .maps{
        max-width: 400px;
    }

    footer {
        padding: 0 60px;
        gap: 10px;
        margin-top: 2vw;
    }
          
    .text-links {
        font-size: 13px;
        line-height: 150%;
    }
    
    #icon-links-container {
        gap: 20px;
    }

    .ic{
        width: 45px; 
        height: 43px;
    }

    .bas{
        height: 950px;
    }
  }

@media screen and (max-width:425px) {
    header{
        height: 80px;
        padding: 0px 11px;
    }

    header img{
        max-width: 70px;
    }
    
    body {
        padding-top: 80px;
    }
    
    .chapeau h1{
        font-size: 70px;
    }
        
    .bar {
        width: 40px;
        height: 4px;
        margin-left: 30%;
    }
    
    .nav {
        left: -50%;
        width: 50%;
    }
    
    .nav ul li {
        margin: 20px 0;
    }
    
    .menu {
        font-size: 36px;
    }
        
    .dropdown-content {
        font-size: 16px;
    }

    .gallery {
        height: 35vh;
    }
    
    .slide:nth-child(1) {
        background-image: url('images/amenagement2.png') !important;
    }

    .slide:nth-child(2) {
        background-image: url('images/entretien2.png') !important;
    }

    .slide:nth-child(3) {
        background-image: url('images/plantation2.png') !important;
    }
        
    .content {
        top: 50%;
        right: 5%;
        left: 7%;
        max-width: 100%;
    }
    
    .content h2 {
        font-size: 40px;
    }
    
    .content h3 {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    
    .content p {
        font-size: 0.8rem;
        line-height: 1.3;
        max-width: 80%;
    }
    
    .arrow {
        font-size: 4rem;
        padding: 50px 10px;
    }
        
    .arrow.left {
        left: 5px;
    }
    
    .arrow.right {
        right: 5px;
    }

    .bas{
        height: 1300px;
    }
    
    .adr{
        display: block;
        gap: 5vw;
    }
    
    .adresse{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        max-width: 100%;
    }
    
    .adresse h2{
        font-size: 40px;
        top: 0px;
        padding-bottom: 0vw;
    }
    
    .adresse p{
        font-size: 16px;
        top: 0px;
        line-height: 1.1;
    }
    
    .maps {
        max-width: 450px;
        width: 100%;
        margin-top: 3%;
    }
    
    .container-button {
        font-size: 16px;
        line-height: 150%;
        padding: 6px 60px;
        margin-top: 3%;
    }
    
    .contact-form {
        max-width: 425px; 
        margin: 0 auto; 
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .contact-form h2{
        font-size: 50px;
    }
    
    .form-row {
        display: block;
    }
    
    .form-group {
        margin-bottom: 10px;
    }
    
    .form-group label {
        margin-bottom: 2px;
        font-size: 20px;
    }
    
    .form-group input, 
    .form-group textarea {
        padding: 10px;
        font-size: 20px;
    }
        
    .form-footer {
        display: block;
    }
    
    .checkbox-group {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        margin-left: 5%;
    }
    
    .checkbox-group label {
        line-height: 1;
    }
    
    .checkbox-group input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
    
    .form-footer button {
        padding: 5px 40px;
        font-size: 20px;
        line-height: 160%;
        left: 30%;
        margin-top: 5%;
        position: relative;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #text-links-container {
        position: relative;
        margin-right: 50%;
    }

    .text-links {
        font-size: 16px;
        line-height: 150%;
    }
    
    #icon-links-container {
        gap: 10px;
        position: relative;
        margin-top: -20%;
        margin-left: 50%;
    }

    .ic{
        width: 45px; 
        height: 43px;
    }
}

@media screen and (max-width:375px) {
    header img{
        max-width: 70px;
    }
        
    .chapeau h1{
        font-size: 60px;
    }
    
    .nav ul li {
        margin: 20px 0;
    }
    
    .menu {
        font-size: 30px;
    }
        
    .dropdown-content {
        font-size: 14px;
    }
        
    .content {
        right: 0%;
    }
    
    .content h2 {
        font-size: 35px;
    }
    
    .content h3 {
        font-size: 1rem;
    }
       
    .arrow {
        font-size: 4rem;
        padding: 50px 5px;
    }
    
    .adresse h2{
        font-size: 35px;
    }
    
    .adresse p{
        font-size: 16px;
        line-height: 1;
    }
    
    .maps {
        max-width: 400px;
        margin-top: 5%;
    }
    
    .container-button {
        font-size: 16px;
        padding: 6px 50px;
        margin-top: 5%;
    }
}

@media screen and (max-width:320px) {
    header{
        height: 60px;
    }
    
    body {
        padding-top: 60px;
    }

    header img{
        max-width: 60px;
    }
        
    .chapeau h1{
        font-size: 55px;
    }
    
    .nav ul li {
        margin: 15px 0;
    }
    
    .content h2 {
        font-size: 33px;
    }
    
    .adresse h2{
        font-size: 30px;
        padding: 5px 0px;
    }
        
    .maps {
        max-width: 350px;
    }
    
    .container-button {
        padding: 6px 30px;
    }
    
    .contact-form h2{
        font-size: 40px;
    }
    
    .form-group label {
        font-size: 18px;
    }
    
    .form-group input, 
    .form-group textarea {
        padding: 8px;
        font-size: 18px;
    }
    
    .form-footer button {
        left: 25%;
        margin-top: 7%;
    }

    .bas {
        height: 1250px;
    }
}